/*log in page */

.container-main {
  font-size: 4em;
  text-shadow: 4px 4px #888888;
  display: flex;
  letter-spacing: 2px;
  flex-direction: column;
  align-items: center;
  align-self: center;
  height: 50vh;
  margin-top: 17%;
  justify-content: space-between;
}

.email {
  position: absolute;
  text-shadow: none;
  display: inline;
  top: 70px;
  left: 450px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.password {
  position: absolute;
  text-shadow: none;
  display: inline;
  top: 165px;
  left: 450px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  /* margin-bottom: 14px; */
  /* display: inline; */
  left: 7px;
}

.input-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
}

label {
  font-size: 0.3em;
  text-shadow: none;
  text-align: left;
}
.input-container .form-icon {
  font-size: 20px;
  position: absolute;
  top: 140px;
  left: 470px;
}

.input-container .book {
  top: 45px;
  left: 470px;
}

@media (max-width: 600px) {
  .container-main {
    margin: 0 auto;
    font-size: 4em;
    text-shadow: 4px 4px #888888;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
  }
  .input-container {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;
    align-items: center;
    position: relative;
    margin: 0 auto;
  }
  .input-container .lock {
    font-size: 20px;
    position: absolute;
    top: 135px;
    left: 50px;
  }

  .input-container .book {
    position: absolute;
    top: 45px;
    left: 50px;
  }

  .email {
    position: absolute;
    text-shadow: none;
    display: inline;
    top: 70px;
    left: 35px;
  }

  .password {
    position: absolute;
    text-shadow: none;
    display: inline;
    top: 159px;
    left: 35px;
  }
}

/* main todo page */
.todo {
  font-size: 4em;
  text-shadow: 4px 4px #888888;
  display: flex;
  letter-spacing: 2px;
  flex-direction: column;
  align-items: center;
  align-self: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  justify-content: space-between;
}

.searchBar {
  border: solid 5px var(--main-bg-color);
  border-radius: 15px;
  height: 28vh;
  width: 55%;
  margin-bottom: 5px;
  display: inline;
}
.container-todo-items {
  border: solid 5px var(--main-bg-color);
  border-radius: 15px;
  height: 100vh;
  width: 55%;
  display: flex;
  flex-direction: column;
}

.input {
  margin-left: 20%;
  margin-top: 20%;
}

.new {
  display: inline-block;
  position: relative;
  top: 4px;
  left: 10px;
  height: 8px;
  text-align: center;
}

.title__todo {
  margin-bottom: 60px;
  position: absolute;
  top: -150px;
}

.logout {
  height: 30px;
  position: absolute;
  top: -200px;
  left: 900px;
}

@media (max-width: 600px) {
  .todo {
    margin: 0 auto;
    font-size: 4em;
    text-shadow: 4px 4px #888888;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
  }
}

.todo-icon {
  position: relative;
  top: 4%;
  left: 25%;
  cursor: pointer;
  font-size: 0.75em;
  margin: 5px;
}

.todo-input {
  position: relative;
  top: 4%;
  right: 50%;
}

.todo-save-btn {
  top: 4%;
  right: 4%;
}

.todo-title {
  position: relative;
  top: 25%;
  margin: 4px;
}
