.container-main {
  font-size: 4em;
  text-shadow: 4px 4px #888888;
  display: flex;
  letter-spacing: 2px;
  flex-direction: column;
  align-items: center;
  align-self: center;
  height: 50vh;
  margin-top: 17%;

  justify-content: space-between;
}

.title {
  margin-bottom: 6px;
}

.input-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin: 0 auto;
}

.input-container .form-icon {
  font-size: 20px;
  position: absolute;
  top: 138px;
  left: 470px;
}

.input-container .book {
  top: 40px;
  left: 470px;
}

@media (max-width: 600px) {
  .container-main {
    margin: 0 auto;
    font-size: 4em;
    text-shadow: 4px 4px #888888;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
  }
  .input-container {
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 100%;
    align-items: center;
    position: relative;
    margin: 0 auto;
  }
  .input-container .form-icon {
    font-size: 20px;
    position: absolute;
    top: 138px;
    left: 50px;
  }

  .input-container .book {
    top: 40px;
    left: 50px;
  }
}
