:root {
  --main-bg-color: #4cdba7;
}

body {
  margin: 0 auto;
  color: var(--main-bg-color);
  font-family: "Oleo Script", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(211, 209, 209, 0.822);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
